:root {
	--font-family-sans: Inter;
	--font-family-serif: PT Serif;
	--font-family-display: 'Playfair Display', var(--font-family-serif);
	--font-family-crimson: 'Crimson Text', var(--font-family-serif);

	--black: #101112;
	--white: #efece7;
	--brown: #2d251f;
	--darkbrown: #231e1a;
	--red: #912839;
	--primary: rgb(89, 40, 44);
	--muted-foreground: rgba(163, 156, 143, 1);
	--border-radius: 0.5rem;
	--border: rgb(73, 62, 54);

	--max-width-0: 320px;
	--max-width-1: 768px;

	--header-height: 45px;
}

html {
	color: var(--white);
	font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.outline-enabled * {
	outline: 1px dotted rgb(239, 4, 180);
}

button {
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--border-radius);
}

.card {
	border-radius: var(--border-radius);
	border: 1px solid var(--border);
	padding: 1rem;
	flex: 1;
	font-family: var(--font-family-crimson);
	font-size: 1.125rem;
}

.card:hover {
	border: 1px solid rgb(89, 40, 44);
	scale: 1.01;
}

h1 {
	font-family: var(--font-family-display);
	font-weight: 700;
	font-optical-sizing: auto;
	font-size: 4.5rem;
}

h2 {
	font-family: var(--font-family-display);
	font-weight: 700;
	font-optical-sizing: auto;
	font-size: 3rem;
}

p {
	font-family: var(--font-family-crimson);
}
